In [1]:
import pandas as pd
import numpy as np
import warnings as wr 
from sqlalchemy import create_engine
wr.filterwarnings('ignore')
from urllib.parse import quote_plus
from sqlalchemy import create_engine

In [2]:
engine = create_engine('mysql+pymysql://root:Jasveer123@localhost/inventory_db')
print("MySQL Successfully Connected: ",engine)

MySQL Successfully Connected:  Engine(mysql+pymysql://root:***@localhost/inventory_db)

In [10]:
df = pd.read_csv("Final_Cleaned_Sale_data.csv")
df.to_sql("Final_Cleaned_Sale_data.csv", con=engine,if_exists="replace", index=False)

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(mysql+pymysql://root:***@localhost/inventory_db): (Final_Cleaned_Sale_data.csv)

In [ ]:
df.columns

In [4]:
# 7.3 Perform SQL queries
# Query 1: Average cancellation rate by market segment
query1 = """
SELECT InventoryID, SUM(SalesDollars) AS Total_Revenue
FROM final_cleaned_sale_data
GROUP BY InventoryID;
"""
result1 = pd.read_sql(query1, engine)
print("\nTotal Revenue")
print(result1)

Total Revenue
                InventoryID  Total_Revenue
0       1_HARDERSFIELD_1004         148.90
1      1_HARDERSFIELD_10058         128.79
2      1_HARDERSFIELD_10062         125.86
3       1_HARDERSFIELD_1013          56.97
4       1_HARDERSFIELD_1019          53.98
...                     ...            ...
73379    19_WINTERVALE_3690          27.99
73380    19_WINTERVALE_3725          12.99
73381    19_WINTERVALE_3760          53.97
73382    19_WINTERVALE_3836          51.96
73383    19_WINTERVALE_3915          64.95

[73384 rows x 2 columns]

In [9]:
query2="""

SELECT InventoryID, SUM(SalesQuantity) AS Total_Units_Sold
FROM Final_Cleaned_Sale_data
GROUP BY InventoryID;
"""
result2 = pd.read_sql(query2, engine)
print("\nTotal _Units_Sold")
print(result2)

Total _Units_Sold
                InventoryID  Total_Units_Sold
0       1_HARDERSFIELD_1004              10.0
1      1_HARDERSFIELD_10058               9.0
2      1_HARDERSFIELD_10062              14.0
3       1_HARDERSFIELD_1013               3.0
4       1_HARDERSFIELD_1019               2.0
...                     ...               ...
73379    19_WINTERVALE_3690               1.0
73380    19_WINTERVALE_3725               1.0
73381    19_WINTERVALE_3760               3.0
73382    19_WINTERVALE_3836               4.0
73383    19_WINTERVALE_3915               5.0

[73384 rows x 2 columns]

In [10]:
query3 = """
SELECT 
    InventoryID,
    SUM(SalesDollars) / NULLIF(SUM(SalesQuantity), 0) AS Avg_Price_Per_Unit
FROM Final_Cleaned_Sale_data
GROUP BY InventoryID;"""

result2 = pd.read_sql(query3, engine)
print("\nAverage Price Per Unit")
print(result2)

Average Price Per Unit
                InventoryID  Avg_Price_Per_Unit
0       1_HARDERSFIELD_1004               14.89
1      1_HARDERSFIELD_10058               14.31
2      1_HARDERSFIELD_10062                8.99
3       1_HARDERSFIELD_1013               18.99
4       1_HARDERSFIELD_1019               26.99
...                     ...                 ...
73379    19_WINTERVALE_3690               27.99
73380    19_WINTERVALE_3725               12.99
73381    19_WINTERVALE_3760               17.99
73382    19_WINTERVALE_3836               12.99
73383    19_WINTERVALE_3915               12.99

[73384 rows x 2 columns]

In [22]:
query4="""
SELECT SalesDate,InventoryID,
SUM(SalesDollars) AS Revenue_Per_Day
FROM Final_Cleaned_Sale_data
GROUP BY SalesDate, InventoryID
ORDER BY SalesDate, InventoryID;"""
result2 = pd.read_sql(query4, engine)
print("\nRevenue Per Day (January 2016)")
print(result2)

Revenue Per Day (January 2016)
         SalesDate           InventoryID  Revenue_Per_Day
0       01-01-2016   1_HARDERSFIELD_1004            16.49
1       01-01-2016  1_HARDERSFIELD_10062             8.99
2       01-01-2016  1_HARDERSFIELD_11888            10.99
3       01-01-2016   1_HARDERSFIELD_1212            19.99
4       01-01-2016  1_HARDERSFIELD_12191             9.99
...            ...                   ...              ...
276001  31-01-2016      9_BLACKPOOL_8512            19.99
276002  31-01-2016      9_BLACKPOOL_8599             5.99
276003  31-01-2016      9_BLACKPOOL_8621             6.29
276004  31-01-2016      9_BLACKPOOL_8693             9.99
276005  31-01-2016      9_BLACKPOOL_8823             7.99

[276006 rows x 3 columns]

In [12]:
df.columns

Index(['Unnamed: 0', 'InventoryId', 'Store', 'Brand', 'Description', 'Size',
       'SalesQuantity', 'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume',
       'Classification', 'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [13]:
query5="""
SELECT 
    InventoryId,
    SUM(SalesPrice * SalesQuantity) AS Total_Revenue,
    SUM(ExciseTax) AS Total_Tax,
    (SUM(SalesPrice * SalesQuantity) - SUM(ExciseTax)) AS Gross_Profit_After_Tax
FROM Final_Cleaned_Sale_data
GROUP BY InventoryId
ORDER BY Gross_Profit_After_Tax DESC;
"""
result = pd.read_sql(query5, engine)
print("\nRevenue Per Day (January 2016)")
print(result)

Revenue Per Day (January 2016)
               InventoryId  Total_Revenue  Total_Tax  Gross_Profit_After_Tax
0            16_LUNDY_6855         699.65      27.65                  672.00
1          11_CARDEND_1767         574.77      18.17                  556.60
2         15_WANBORNE_3679         571.74      20.54                  551.20
3      1_HARDERSFIELD_1269         565.79      16.59                  549.20
4       19_WINTERVALE_1385         550.80      15.80                  535.00
...                    ...            ...        ...                     ...
73379   34_PITMERDEN_21884           3.49       0.11                    3.38
73380      10_HORNSEY_7485           3.99       0.79                    3.20
73381   73_DONCASTER_22407           3.29       0.11                    3.18
73382  44_PORTHCRAWL_17520           2.99       0.11                    2.88
73383  44_PORTHCRAWL_17819           2.99       0.11                    2.88

[73384 rows x 4 columns]

In [15]:
query6= """SELECT 
    Brand,
    SUM(SalesDollars) AS Total_Revenue
FROM Final_Cleaned_Sale_data
GROUP BY Brand
ORDER BY Total_Revenue DESC
LIMIT 5;"""
result = pd.read_sql(query6,engine)
print("\nTop 5 Brand Description")
print(result)

Top 5 Brand Description
   Brand  Total_Revenue
0   2432       17912.91
1   1385       17352.60
2   5342       17039.09
3   1232       15255.46
4   8178       14116.63

In [16]:
query7="""SELECT 
    Description, 
    SUM(SalesDollars) AS Total_Revenue
FROM Final_Cleaned_Sale_data
GROUP BY Description
ORDER BY Total_Revenue DESC
LIMIT 10;"""
result = pd.read_sql(query7,engine)
print("\nTop 10 Product by Sales Reveneu")
print(result)

Top 10 Product by Sales Reveneu
                  Description  Total_Revenue
0                 Crown Royal       17912.91
1                 Makers Mark       17352.60
2               Grand Marnier       17039.09
3     Jack Daniels No 7 Black       15255.46
4             Bulleit Bourbon       14116.63
5                      Kahlua       14044.94
6              Bulleit 95 Rye       13513.86
7     Crown Royal Regal Apple       13481.11
8  Jack Daniels Tennesse Fire       13243.34
9          Dewars White Label       12998.33

In [22]:
query8="""SELECT 
    Classification, 
    SUM(SalesDollars) AS Total_Revenue,
    ROUND(
        (SUM(SalesDollars) / (SELECT SUM(SalesDollars) FROM Final_Cleaned_Sale_data)) * 100, 2
    ) AS Revenue_Percentage
FROM Final_Cleaned_Sale_data
GROUP BY Classification
ORDER BY Revenue_Percentage DESC;"""
result = pd.read_sql(query8,engine)
print("\nSales By Classification")
print(result)

Sales By Classification
   Classification  Total_Revenue  Revenue_Percentage
0               1   2.413005e+06                60.8
1               2   1.555570e+06                39.2

In [26]:
query9="""
SELECT 
    VendorName, 
    SUM(SalesDollars) AS Total_Revenue,
    ROUND(
        (SUM(SalesDollars) / (SELECT SUM(SalesDollars) FROM Final_Cleaned_Sale_data)) * 100, 2
    ) AS Revenue_Percentage
FROM Final_Cleaned_Sale_data
GROUP BY VendorName
ORDER BY Total_Revenue DESC
LIMIT 10;
"""
result = pd.read_sql(query9,engine)
print("\nTop 10 Vendors by Sales Contribution")
print(result)

Top 10 Vendors by Sales Contribution
                    VendorName  Total_Revenue  Revenue_Percentage
0  DIAGEO NORTH AMERICA INC         448198.25               11.29
1  JIM BEAM BRANDS COMPANY          360337.33                9.08
2        MARTIGNETTI COMPANIES      355871.93                8.97
3  CONSTELLATION BRANDS INC         206171.79                5.20
4  ULTRA BEVERAGE COMPANY LLP       195408.55                4.92
5  PERNOD RICARD USA                178810.61                4.51
6  BACARDI USA INC                  178383.81                4.49
7  E & J GALLO WINERY               162365.62                4.09
8  M S WALKER INC                   158189.73                3.99
9  SAZERAC CO INC                   140421.33                3.54